<form [formGroup]="form" class="amsf-form">
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" autocomplete="on" minlength="2" maxlength="20">
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      First Name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('minlength')">
      First Name needs to have at least <strong>2 characters</strong>
    </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('maxlength')">
      First Name needs to have max <strong>20 characters</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput [formControl]="lastNameFormControl" [errorStateMatcher]="matcher" autocomplete="on" minlength="2" maxlength="30">
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Last Name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('minlength')">
      Last Name needs to have at least <strong>2 characters</strong>
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('maxlength')">
      Last Name needs to have max <strong>30 characters</strong>
    </mat-error>
  </mat-form-field>
  <div class="amsf-form__actions amsf-form__actions--flex-end">
    <button mat-raised-button type="button" color="primary" (click)="next()" [disabled]="form.invalid">Next</button>
  </div>
</form>
